@page
@model test0_dotnet_postgresql.Pages.DepartmentModel
@{
    ViewData["Title"] = "Department";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.result[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.result[0].Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.result)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
